body {
	color: green;
	background-color: #FDE0C7;
}

#container {
	background-color: pink;
	width: 470px;
	height: 470px;
	/*changed from 0 to 20px*/
	margin: 60px auto 20px auto;
}

.boo {
	background: url("../images/boo.jpg");
	background-size: cover;
	background-position: 50% 50%;
}


.cell {
		display: inline-block;
		float: left;
		width: 150px;
		height: 150px;
}


.rightLine {border-right: 10px solid orange;}
.bottomLine {border-bottom: 10px solid orange;}


.potatoe {
	clear: both;
}




h1 { 
	text-align: center;
	color: grey;
	/*color: #ff88ff;*/
}

h2 {
	text-align: center;
	color: grey;
}

.planet { 
	border: 3px dotted lightgrey;
	width: 600px;
	padding: 10px 45px;
	margin: 15px auto;
